<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local-nuget-feed" value="local-nuget-feed" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-nuget-feed">
      <package pattern="BuildingBlocks.Contracts" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
